body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("../image/bg.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
header{
    width: 100%;
    background-color: red;
    font-size: 2rem;
    color: #000000;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0.5;
}
footer{
    height: 30px;
    width: 100%;
    background-color: silver;
    position: absolute;
    bottom: 0;
    opacity: 0.5;
    text-align: center;
}

#middle{
    position: absolute;
    top: 50px;
    bottom: 30px;
    width: 100%;
}
#middle_sec{
    position: absolute;
    top:20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    background-color: green;
    opacity: 0.7;
    font-size: 5rem;
    text-align: center;
}
#middle_welecome{
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 30%;
    height: 5rem;
}