body,html{
    width: 100%;
    height: 100%;
    margin: 0;
}
header{
    width: 100%;
    background-color: red;
    font-size: 2rem;
    color: #000000;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
}
footer{
    height: 30px;
    width: 100%;
    background-color: silver;
    position: absolute;
    bottom: 0;

}

#middle{
    background-image: url("../image/bg.jpg");
    background-color: #cccccc;
}